<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--  bean definitions here  -->
<bean id = "Student1" class="com.spring.project02.Student">
<constructor-arg name="id" value="1"/>
<constructor-arg name="studentName" value="Sharon Vijay"/>
</bean>
<bean id = "Student2" class="com.spring.project02.Student">
<constructor-arg name="id" value="2"/>
<constructor-arg name="studentName" value="Bhogi Mohith"/>
</bean>
<bean id = "Student3" class="com.spring.project02.Student">
<constructor-arg name="id" value="3"/>
<constructor-arg name="studentName" value="Neil Kandukuri"/>
</bean>
</beans>