<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--  bean definitions here  -->

<bean id="MathCheatObjectValue" class="com.spring.project03.MathCheat">
</bean>

<bean id="stu" class="com.spring.project03.Student">
<property name="id" value="123"></property>
<property name="mathcheat" ref ="MathCheatObjectValue">
</property>
</bean>

<bean id="anotherStu" class="com.spring.project03.AnotherStudent">
<property name="id" value="124"></property>
<property name="mathcheat" ref = "MathCheatObjectValue"></property>
</bean>
</beans>